body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.temp {
  font-size: 75px;
}
.devices .col {
  margin-top: 10px;
}
.device {
  border: medium solid darkcyan;
  min-height: 275px;
}
.device h1 {
  background-color: darkcyan;
  margin: 0;
  padding: 10px;
}
.device i.fa {
  font-size: 44px;
}
.device .loading {
  margin-top: 50px;
}
