@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    A wood stove monitoring system built using ASP.NET MVC on Azure with Eventhubs, StreamAnalytics, and SignalR.  If you have any questions please see my contact information below.
</p>

<p>
    <strong>Source:</strong> <a href="https://github.com/jsturtevant/woodstove">https://github.com/jsturtevant/woodstove</a><br />
    <strong>Blog:</strong> <a href="http://www.jamessturtevant.com/">http://www.jamessturtevant.com/</a><br />
</p>

<address>
    <strong>Contact:</strong>   <a href="mailto:jsturtevant@example.com">jsturtevant@gmail.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/Aspenwilder">@@aspenwilder</a>
</address>